body
{
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header
{
    flex: 0 75px;
}

menu
{
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

menu .nav-item
{
    padding: 0 0.3em;
}

.lobby-sign
{
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.3em;
    padding-top: 0.4em;
}

footer
{
    flex: 0 30px;
}

main
{
    flex: 1 calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://wallpaperaccess.com/full/3320668.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.player-lobby
{
    border-radius: 10px;
    margin: 2em;
    background-color: rgb(31, 31, 31);
    height: 100px;
    width: 640px;
}

.lobbyContent
{
    padding: 10px;
}

#mainObject
{
    background-color: rgb(39, 39, 39);
    width: 20vw;
    height: 10vw;
    align-items: center;
    border-radius: 10px;
}

.forms
{
    width: 9vw;
    height: 1.6vw;
    padding: 0vw;
}

.form
{
    width: 9vw;
    height: 1.5vw;
}

input::placeholder
{
    font-size: 0.9vw;
}

.loginButton
{
    width: 3vw;
    height: 1.7vw;
    padding: 0.2vw;
}

.loginText
{
    font-size: 0.65vw;
    text-align: center;
}

#title
{
    font-size: 2vw;
    font-weight: bold;
}

#allPlayers
{
    justify-content: center;
}

.form-select
{
    color: white !important;
    background-color: rgb(24, 24, 24) !important;
}

@media (max-height: 500px)
{
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}

@media (max-width: 960px)
{
    #mainObject
    {
        background-color: rgb(39, 39, 39);
        width: 95vw;
        height: 50vw;
    }
    .forms
    {
        width: 80vw;
        height: 10vw;
    }
    .form
    {
        width: 80vw;
        height: 10vw;
    }
    #title
    {
        font-size: 10vw;
        font-weight: bold;
    }
    input::placeholder
    {
        font-size: 6vw;
    }
    .loginButton
    {
        width: 10vw;
        height: 1.7vw;
        padding: 1vw;
    }
    .loginText
    {
        font-size: 5vw;
        text-align: center;
    }
    .player-lobby
    {
        border-radius: 10px;
        margin: 2em;
        background-color: rgb(31, 31, 31);
        height: 100px;
        width: 70vw;
    }
}